/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

background:#070711;

color:white;

min-height:100vh;
}


/* NAVBAR */

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 40px;

background:#090914;

border-bottom:1px solid rgba(
255,
255,
255,
0.05
);

}


.logo{

font-size:32px;

font-weight:bold;

color:#7b61ff;
}


.nav-links{

display:flex;

gap:25px;

align-items:center;

}


.nav-links a{

text-decoration:none;

color:white;

transition:.3s;
}


.nav-links a:hover{

color:#7b61ff;

}


/* HERO */

.hero{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

padding-top:80px;

text-align:center;

}


.hero h1{

font-size:72px;

font-weight:800;

margin-bottom:20px;

}


.hero p{

font-size:20px;

opacity:.7;

width:700px;

max-width:90%;

line-height:1.7;

}


/* SEARCH BOX */

.search-box{

margin-top:50px;

display:flex;

gap:15px;

background:#10101d;

padding:20px;

border-radius:20px;

box-shadow:
0 0 25px rgba(
123,
97,
255,
0.2
);

}


.search-box input{

padding:15px;

border:none;

outline:none;

background:#1a1a2d;

color:white;

border-radius:10px;

width:200px;

}


.search-box button{

padding:15px 30px;

border:none;

background:#7b61ff;

color:white;

border-radius:10px;

cursor:pointer;

transition:.3s;

}


.search-box button:hover{

background:#6549ff;

}


/* VEHICLES */

.vehicle-container{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
300px,
1fr
)
);

gap:30px;

padding:60px;

}


.vehicle-card{

background:#10101d;

padding:25px;

border-radius:20px;

transition:.3s;

border:
1px solid rgba(
255,
255,
255,
0.05
);

}


.vehicle-card:hover{

transform:translateY(-10px);

box-shadow:
0 0 30px rgba(
123,
97,
255,
0.3
);

}


.vehicle-card img{

width:100%;

height:200px;

object-fit:cover;

border-radius:10px;

}


.vehicle-card h2{

margin-top:20px;

}


.vehicle-card p{

opacity:.7;

margin-top:10px;

}


.vehicle-card button{

margin-top:20px;

width:100%;

padding:12px;

border:none;

border-radius:10px;

background:#7b61ff;

color:white;

cursor:pointer;

}


/* LOGIN */

.container{

width:420px;

padding:40px;

background:#11111b;

border-radius:20px;

box-shadow:
0 0 30px rgba(
0,
0,
0,
0.5
);

}


.container h1{

text-align:center;

margin-bottom:30px;

}


.container input{

width:100%;

padding:15px;

margin-bottom:15px;

border:none;

outline:none;

background:#1a1a2d;

color:white;

border-radius:10px;

}


.container button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#7b61ff;

color:white;

cursor:pointer;

}