<!DOCTYPE html>
<html>

<head>

<title>DriveLink Chatbot</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/chats.css') }}">

</head>

<body>

<div class="chat-container">

<h2>DriveLink AI Assistant</h2>

<div class="chat-box">

{% for chat in chat_history %}

    {% if chat.sender=="user" %}

        <div class="user">
            {{chat.text}}
        </div>

    {% else %}

        <div class="bot">
            {{chat.text}}
        </div>

    {% endif %}

{% endfor %}

</div>

<form action="/chat" method="POST">

<input
name="message"
placeholder="Ask DriveLink..."
required>

<button type="submit">
Send
</button>

</form>

</div>

</body>
</html>